:host {
    display: flex;
    height: 100%;
}
//
.auth-background {
    --ion-background-color: #EFF2FB !important;
}


ion-content::part(scroll) {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-bottom: 70px;
}

.login-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.copyright-footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #000000;
    font-size: 0.85rem;
    padding: 12px 25px;
}
