:host {
    display: flex;
    height: 100%;
}

.auth-background {
    --ion-background-color: #EFF2FB !important;
}

ion-content::part(scroll) {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.login-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
