<div class="login-split ion-padding">


  <div class="login-image-section ion-hide-md-down">
    <img
      src="assets/icon/undraw_secure-login.svg"
      alt="Arte de Bienvenida o Recuperación"
      class="welcome-art"
    />
  </div>

  <div class="login-form-section">
    <app-login-form *ngIf="currentState === 'login'"
      (loginSubmit)="handleLogin($event)"
      (goToRecovery)="changeState('recover-email')">
    </app-login-form>

    <app-recovery-email-form *ngIf="currentState === 'recover-email'"
      (emailSubmit)="handleRecoveryEmail($event)"
      (goToLogin)="changeState('login')">
    </app-recovery-email-form>

  </div>
</div>
