<div class="login-split ion-padding">


  <div class="login-image-section ion-hide-md-down">
    <img
      [src]="currentState === 'login' ? 'assets/icon/undraw_secure-login.svg' :
            currentState === 'new-password' ? 'assets/icon/undraw_secure-login.svg' :
            'assets/icon/undraw_secure-login.svg'"
      alt="Arte de Bienvenida o Recuperación"
      class="welcome-art"
    />
  </div>

  <div class="login-form-section">
    <app-login-form *ngIf="currentState === 'login'"
      (goToRecovery)="changeState('recover-email')">
    </app-login-form>

    <app-recovery-email-form *ngIf="currentState === 'recover-email'"
      (emailSubmit)="changeState('verify-code')"
      (goToLogin)="changeState('login')">
    </app-recovery-email-form>

    <app-verification-code-form *ngIf="currentState === 'verify-code'"
      (codeSubmit)="changeState('new-password')"
      (goToLogin)="changeState('login')">
    </app-verification-code-form>

    <app-new-password-form *ngIf="currentState === 'new-password'"
      (passwordSubmit)="changeState('login')"
      (goToLogin)="changeState('login')">
    </app-new-password-form>

  </div>
</div>
