.form-card {
    // Sombra para el efecto de tarjeta/contorno
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 30px 20px;
    background: #fff;
    width: 100%;
    max-width: 400px;
}


.bienvenida-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 25px;
    text-align: center;
}

.custom-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --padding-end: 0;
    border: 1.5px solid #000;
    border-radius: 8px;
    margin-bottom: 20px;
    --background: #fff;
    ion-icon {
        color: #000;
        font-size: 1.5rem;
        margin-right: 10px;
        margin-left: 10px;
    }

    ion-input {
        --color: #000000;
        --placeholder-color: #000000;
        --placeholder-opacity: 1;
        padding-left: 0 !important;
    }
}

ion-button[slot="end"] {
    margin-right: 5px;

    ion-icon {
        color: #000000 !important;
    }
}


.forgot-password-container {
    width: 100%;
    margin-bottom: 25px;
}

.login-link {
    cursor: pointer;
    font-size: 0.85em;
    color: #000000;
    text-align: right;
    width: 100%;
    display: block;
    transition: color 0.2s;

    &:hover {
        color: #555;
    }
}

.login-button {
    --background: #000000;
    --color: #ffffff;
    --box-shadow: none;
    font-weight: bold;
    height: 48px;
    border-radius: 8px;
    transition: background 0.3s;

    &:hover {
        --background: #333333;
    }
}


.copyright-text {
    text-align: center;
    font-size: 0.75rem;
    color: #000000;
    margin-top: 30px;
}
