<div class="form-card">

  <h1 class="bienvenida-title">Iniciar Sesión</h1>

  <form (ngSubmit)="onSubmit()">
    <ion-item class="custom-item" lines="none">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-input placeholder="Correo Electrónico"
                 type="email"
                 required
                 [(ngModel)]="email"
                 name="email">
      </ion-input>
    </ion-item>

    <ion-item class="custom-item" lines="none">
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input placeholder="Contraseña"
                 [type]="passwordType"
                 required
                 [(ngModel)]="password"
                 name="password">
      </ion-input>

      <ion-button slot="end" fill="clear" color="dark" (click)="togglePasswordVisibility()">
        <ion-icon [name]="passwordVisible ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
      </ion-button>
    </ion-item>

    <div class="forgot-password-container">
        <span (click)="onGoToRecuperar()" class="login-link">
            ¿Olvidaste tu Contraseña?
        </span>
    </div>

    <ion-button expand="block" type="submit" class="login-button">
      Acceder
    </ion-button>

  </form>

</div>


<p class="copyright-text">Todos los derechos reservados a Move360®</p>
