<div class="form-card">

  <h1 class="bienvenida-title">Iniciar Sesión</h1>

  <form (ngSubmit)="onSubmit()">
    <ion-item class="custom-item" lines="none">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email"
                required
                [(ngModel)]="email"
                name="email">
      </ion-input>
    </ion-item>

    <ion-item class="custom-item" lines="none">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"
                required
                [(ngModel)]="password"
                name="password">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>

    <div class="forgot-password-container">
        <span (click)="onGoToRecuperar()" class="login-link">
            ¿Olvidaste tu Contraseña?
        </span>
    </div>

    <ion-button expand="block" type="submit" class="login-button">
      Acceder
    </ion-button>

  </form>

</div>


