:host {
  display: block;
  width: 100%;
  max-width: 450px;
}

.form-card {
  background: #ffffff;
  padding: 30px 40px;
  border-radius: 12px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
}

.welcome-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 18px;
  text-align: center;
}

.description-text {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: center;
}

.custom-input {
  --border-radius: 8px;
  --padding-start: 15px;
  --color: #111;
  --background: #ffffff;
  margin-bottom: 16px;
  border: 1px solid #000000;
  border-radius: 8px;
}


ion-input-password-toggle {
  --color: #000000 !important;
  opacity: 1 !important;
  font-size: 1.2rem !important;

  &::part(icon) {
    color: #000000 !important;
    fill: #000000 !important;
    opacity: 1 !important;
    font-size: 1.2rem !important;
    --ionicon-stroke-width: 32px;
  }
}


.custom-input ion-input {
  --color: #000000;
  --placeholder-color: #000000;
  --placeholder-opacity: 1;
}


.login-button {
  --background: #000000;
  --color: #ffffff;
  --border-radius: 8px;
  height: 48px;
  font-weight: bold;
  margin-top: 20px;
}

.back-to-login {
  font-size: 0.85rem;
  color: #000;
  text-align: right;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}

.error-message {
  color: #ff3860;
  font-size: 0.8rem;
  margin-top: -10px;
  margin-bottom: 10px;
  padding-left: 5px;
}

