<div class="form-card">
  <h1 class="ion-text-center bienvenida-title">Nueva Contraseña</h1>

  <p class="ion-text-center description-text">
    Ingresa y confirma tu nueva contraseña. Debe tener al menos 8 caracteres.
  </p>

  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <ion-item class="ion-margin-vertical custom-input" fill="outline">
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="password" formControlName="newPassword"></ion-input>
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
    </ion-item>
    <div *ngIf="passwordControls['newPassword']?.invalid && passwordControls['newPassword']?.touched" class="error-message">
      <span *ngIf="passwordControls['newPassword']?.errors?.['required']">La contraseña es obligatoria.</span>
      <span *ngIf="passwordControls['newPassword']?.errors?.['minlength']">Mínimo 8 caracteres.</span>
    </div>

    <ion-item class="ion-margin-vertical custom-input" fill="outline">
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
    </ion-item>
    <div *ngIf="passwordControls['confirmPassword']?.invalid && passwordControls['confirmPassword']?.touched" class="error-message">
      <span *ngIf="passwordControls['confirmPassword']?.errors?.['required']">La confirmación es obligatoria.</span>
    </div>

    <div *ngIf="passwordForm.errors?.['passwordsNotMatching'] && passwordControls['confirmPassword']?.touched" class="error-message ion-padding-top">
      Las contraseñas no coinciden.
    </div>

    <p class="ion-text-end back-to-login" (click)="goToLogin.emit()">
      Volver a Iniciar Sesión
    </p>

    <ion-button
      expand="block"
      type="submit"
      [disabled]="passwordForm.invalid"
      class="ion-margin-top login-button">
      CONFIRMAR
    </ion-button>

  </form>
  <p class="copyright-text ion-text-center ion-padding-top">
    Todos los derechos reservados a Jidokwan Jaguares Taekwondo®
  </p>
</div>
