<div class="form-card">

  <h1 class="bienvenida-title">¿Olvidaste tu Contraseña?</h1>

  <p class="subtitle-text">
    No te preocupes, es algo que pasa.
    Por favor ingresa la dirección de correo electrónico asociada a tu cuenta.
    Te enviaremos un código de verificación a esa dirección.
  </p>

  <form (ngSubmit)="onSubmit()">
    <!-- Aplicamos clase custom-input para el estilo de borde/color -->
    <ion-item class="custom-input" fill="outline">
      <!-- Usamos placeholder en lugar de label/labelPlacement -->
      <ion-input
        placeholder="Correo Electrónico"
        type="email"
        required
        [(ngModel)]="email"
        name="email">
      </ion-input>
    </ion-item>


    <div class="footer-link-container">
      <!-- Cambiamos ion-button por span/a para mejor control de estilo -->
      <span (click)="onGoToLogin()" class="login-link">
        ¿Ya tienes una cuenta? Iniciar Sesión
      </span>
    </div>

    <ion-button expand="block" type="submit" class="login-button"
              [style.--background]="'#000000'"
              [style.--color]="'#ffffff'">
      Enviar Código
    </ion-button>

  </form>


</div>

