:host {
    display: block;
    width: 100%;
    max-width: 450px;
}

.form-card {
    background: #ffffff;
    padding: 30px 40px;
    border-radius: 12px;
    width: 100%;


    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
}

.bienvenida-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    white-space: nowrap;
}

.subtitle-text {
    font-size: 0.95rem;
    color: #666;
    margin-bottom: 25px;
    line-height: 1.5;
}

ion-item {
    --border-radius: 8px;
    --padding-start: 15px;
    --background: #ffffff;
    margin-bottom: 16px;

    --border-color: #000000;
    --border-width: 1px;
    --inner-border-width: 0 0 0 0;
    border: 1px solid #000000;
    border-radius: 8px;
}

.login-button {
    --background: #000000;
    --color: #ffffff;
    --border-radius: 8px;
    height: 48px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
}

.footer-link-container {
    text-align: center;
    margin-top: 15px;
}

.login-link {
    --color: #000000;
    font-size: 0.9rem;
    --padding-start: 0;
    --padding-end: 0;
}

.login-link::part(native) {
    text-decoration: none;
}

.login-link:hover {
    --color: #666;
}

.copyright-text {
    font-size: 0.75em;
    color: #333; 
    margin-top: 30px;
    text-align: center;
}
