$page-padding: 30px;

ion-content {
    --background: transparent;
    overflow-x: hidden !important;
    overflow-y: auto;
}

.dashboard-container {
    padding: $page-padding;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.top-section-grid {
    padding: 0;
    margin: 0;

    ion-row {
        align-items: stretch;
        height: 100%;

        ion-col {
            padding: 0;
            &:first-child {
                padding-right: 15px;
            }
            &:last-child {
                padding-left: 15px;
            }
        }
        @media (max-width: 767px) {
            ion-col {
                padding-left: 0 !important;
                padding-right: 0 !important;
                margin-bottom: 20px;
            }
        }
    }
}

.announcements-section {
    width: 100%;
}

