<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" color="danger">
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">titulo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>¡Bienvenido!</strong>
    <p *ngIf="userEmail">Usuario: {{ userEmail }}</p>
    <p>Has iniciado sesión correctamente.</p>
  </div>
</ion-content>
