:host {
  display: block;
  width: 100%;
  max-width: 450px;
}

.form-card {
  background-color: #ffffff !important;
  padding: 30px 40px;
  border-radius: 12px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0; 
}

.bienvenida-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: #000000 !important;
  margin-bottom: 18px;
  text-align: center !important;
}

.description-text {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: center !important;
}

ion-item {
  --border-radius: 8px;
  --padding-start: 15px;
  --background: #ffffff;
  margin-bottom: 16px;
  margin-top: 0;

  /* Borde negro */
  --border-color: #000000;
  --border-width: 1px;
  --inner-border-width: 0;
  border: 1px solid #000000;
  border-radius: 8px;
  --color: #000000;
}


ion-item .label-floating.sc-ion-label-md-h,
ion-item .label-floating.sc-ion-label-ios-h {
  color: #666 !important; /* Color gris */
}

.login-button {
  --background: #000000;
  --color: #ffffff;
  --border-radius: 8px;
  height: 48px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
}


.back-to-login {
  font-size: 0.85rem;
  color: #000000 !important;
  font-weight: 500;
  margin-top: -10px;
  cursor: pointer;
  text-align: right !important;
}

.error-message {
  color: #ff3860;
  font-size: 0.8rem;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 5px;
}
